<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head'); %>
</head>
<body>

    <header>
        <%- include('../partials/index_header'); %>
    </header>

    <main>
        <%- include('../partials/button'); %>
        <%- include('../partials/index_main'); %>
    </main>

    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>